:root {
    --Purple: #5e43f3;
    --Light-red: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);

    --Toggle-Dark: linear-gradient(
    to right,
    #ba9ffb,
    #5e43f3
  );

  --Toggle-Light: hsl(230, 22%, 74%);
}

.dark-mode {
    --Purple:#5e43f3;
    --Light-red: hsl(0, 100%, 67%);

    --White:#1e1926;
    --Off-white: #332e3a;
    --Light-grey: #332e3a;
    --Smokey-grey: #8b8b8b;
    --Off-black: #edecee;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}



body {
    font-family: 'Poppins' , sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--Light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    
}

main {
    width: 65rem;
    max-height: 54rem;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: 3rem;
    border-radius: 1rem 1rem 8rem;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

/* INPUT Section*/

.input-date {
    display: flex;
justify-content: space-between;}

.input-date > :not(:last-child) {
    margin-right: 3rem;
}

.input-date__box {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}


.input-date__label {
    letter-spacing: .2rem;
    margin-bottom: .5rem;
    color: var(--Smokey-grey);
}

.input-date__text {
    color: var(--Off-black);
    font-family: 'Poppins' , sans-serif;
    outline: none;
    width: 11rem;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    border: .2rem solid var(--Light-grey);
    margin-bottom: .5rem;
    cursor: pointer;
    transition: border .2s;
    background-color: var(--White);
}

.input-date__text:hover {
    border: .2rem solid var(--Off-black);
}
.input-date__text:focus {
    color: var(--Off-black);
}

.input-date__valid {
    font-style: italic;
    font-size: 1rem;
    color: #e47b7f;
    text-transform: capitalize;
    height: 2rem;
}

.toggle-box {
  display: flex;
  align-items: center; }
  .toggle-box > :first-child {
    color: var(--Purple);
    margin-right: 1rem; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 31px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Toggle-Light);
  border-radius: 34px; }

input:checked + .slider {
  background-image: var(--Toggle-Dark); }

input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px); }

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 32px;
  bottom: 4px;
  background-color: var(--White) !important;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider::before {
  background-color: var(--Smokey-grey); }

/* separator Section*/
.separator-box {
    display: flex;
    align-items: center;
}
.separator {
    border: .1rem solid var(--Light-grey);
    flex: 1;
}
.btn {
    outline: none;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: none;
    background-color: var(--Purple);
    cursor: pointer;
    transition: background-color .2s;
}
.btn:hover {
    background-color: var(--Smokey-grey);
}

.btn__icon {
    width: 3rem;
    color: var(--Light-grey);
}

.btn__icon:hover {
    color: var(--Purple);
}
/* OUTPUT Section */

.output-date__box {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 800;
    font-size: 7rem;
}

.output-date__value {
    color: var(--Purple);
    margin-right: 1rem;
    font-size: inherit;
}

.output-date__label {
    font-size: inherit;
    font-weight: inherit;
    color: var(--Off-black);
}

@media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

  @media only screen and (max-width: 48em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 55%; }
    main {
        margin: 0 4rem;
        padding: 3rem 2rem;
    }
    .input-date > :not(:last-child) {
        margin-right: 1rem;
    }
    .input-date__text {
        width: 8rem;
        font-size: 1.7rem;
    }
    .output-date__box {
        font-size: 5rem;
    } }
  @media only screen and (min-width: 93.75em) {
    html {
      font-size: 68.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }